In [ ]:
!pip install datasets

In [23]:
from datasets import Dataset
import pandas as pd

In [24]:
raw_inputs = pd.read_csv("task-a-en.tsv", delimiter="\t")
raw_inputs.head()

        id word1 word2                                           headline
0  en_0001     -     -  Ryanair to cut 1 million more passenger seats ...
1  en_0002     -     -  Looted by Nazis, a 17th-Century Painting Resur...
2  en_0003     -     -  Analysis: Spotlight on childcare reforms revea...
3  en_0004     -     -      Do body wipes actually work? Experts weigh in
4  en_0005     -     -  Is Meghan’s Netflix series another ‘exercise i...

In [25]:
word_pairs = list(zip(raw_inputs["word1"], raw_inputs["word2"]))
word_pairs = [pair for pair in word_pairs if pair != ('-', '-')]
word_pairs[:5]

[('spray', 'chair'),
 ('hammer', 'banana'),
 ('move', 'fridge'),
 ('hammer', 'pumpkin'),
 ('peel', 'pumpkin')]

In [26]:
headlines = [row for row in raw_inputs.headline.to_list() if row != "-"]
headlines[:5]

['Ryanair to cut 1 million more passenger seats in Spain',
 'Looted by Nazis, a 17th-Century Painting Resurfaces. But Not for Long.',
 'Analysis: Spotlight on childcare reforms reveals how far there is to go',
 'Do body wipes actually work? Experts weigh in',
 'Is Meghan’s Netflix series another ‘exercise in narcissism’?']

In [27]:
def construct_pair_prompt(w: tuple):
    w1, w2 = w
    prompt = f"Generate the funniest possible joke that contains these two words: '{w1}', '{w2}'."
    return prompt

In [28]:
def construct_headline_prompt(h: str):
    prompt = f"Generate a funny joke related to this headline: '{h}' by either modifying it or responding to it."
    return prompt

In [29]:
rl_df = pd.DataFrame()
rl_df["prompt"] = [construct_pair_prompt(w) for w in word_pairs] + [construct_headline_prompt(h) for h in headlines]
rl_df.head()

                                              prompt
0  Generate the funniest possible joke that conta...
1  Generate the funniest possible joke that conta...
2  Generate the funniest possible joke that conta...
3  Generate the funniest possible joke that conta...
4  Generate the funniest possible joke that conta...

In [30]:
len(rl_df.index)

1200

In [31]:
rl_df_hf = Dataset.from_pandas(rl_df)

In [32]:
rl_df_hf

Dataset({
    features: ['prompt'],
    num_rows: 1200
})

In [33]:
rl_df_hf.to_parquet("data/rl_df.parquet")

Creating parquet from Arrow format:   0%|          | 0/1 [00:00<?, ?ba/s]

198103